.main {
  display: flex;
  align-items: flex-start;
}
canvas {
  border: 1px solid black;
}
#canvas-container {
  width: 1200px;
  position: relative;
}
#canvas-container:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-size: 16px;
  text-align: center;
}
#canvas-container:before .empty {
  content: "ここに画像をドロップしてください";
}
.toolbox {
  margin-left: 10px;
  width: 500px;
  position: sticky;
  top: 0;
  height: auto;
}

.wrapp-download {
    margin-top: 20px;
}